# exec
a.out
libft/src/a.out*
push_swap

# tmp
*.gch

# tester
checker*
*checker
test.sh
test1.sh
subject.txt
push_swap_visualizer
Push-Swap-Tester
traces.txt
push_swap_test.sh
push_swap_tester
shell_script/*
shell_script/*

# libft.a
libft.a

# obj
obj
bonus_obj

# vscode
.vscode/*
./src/.vscode/*

# other
.DS_Store
