# exec
a.out
libft/src/a.out*
push_swap

# tmp
*.gch

# tester
checker*
test.sh
subject.txt
push_swap_visualizer
Push-Swap-Tester
traces.txt
push_swap_test.sh
push_swap_tester

# libft.a
libft.a

# obj
obj
bonus_obj

# vscode
.vscode/*

# other
tags
compile_flags.txt
